{% extends 'base.html' %}


{% block title %}
Home page
{% endblock %}


{% block content %}

<section class="mb-5 mt-3">
    <div class="container">
        {% include './components/_banner-section.html' %}
    </div>
</section>

<!-- recently added news -->
<section class="mb-5">
    <div class="container">
        <div class="d-flex justify-content-between mb-3">
            <h3>Recently added...</h3>
            <a href="{% url 'news-page' %}" class="btn btn-outline-primary">Find more</a>
        </div>

        <div class="row">
            {% for post in recently_added %}
            <div class="col-3">
                {% include 'components/_card.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- most viewed news -->
<section class="mb-5">
    <div class="container">
        <div class="d-flex justify-content-between mb-3">
            <h3>Most viewed...</h3>
            <a href="{% url 'news-page' %}" class="btn btn-outline-primary">Find more</a>
        </div>

        <div class="row">
            {% for post in most_viewed %}
            <div class="col-3">
                {% include 'components/_card.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--CTRL + ALT + L - форматирование кода-->
{% endblock %}


<!--сделать переход на страницу FAQ
добавить шаблон для страницы
добавить функцию для отображения страницы
добавить ссылку для страницы
вызвать ссылку в кнопке
-->