{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block extra_css %}
<style>
    html, body, .container {
        height: 100%
    }

</style>
{% endblock %}

{% block content %}
<div class="container d-flex align-items-center">
    <div class="row justify-content-center flex-grow-1">
        <div class="col-6">
            <form action="" method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="">Username: </label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="">Password: </label>
                    <input type="password" class="form-control">
                </div>

                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}