{% extends 'base.html'%}
{% block title %}
profile page
{% endblock %}

{% block content %}
<div class="container">
    <div class="mb-5">
        <ul class="list-group list-group-action">
            <li class="list-group-item list-group-item action">
                <b>username:</b> {{user.username}}
            </li>
            <li class="list-group-item list-group-item action">
                <b>email:</b> {{user.email}}
            </li>
            <li class="list-group-item list-group-item action">
                <b>Joined at:</b> {{user.date_joined}}
            </li>
            <li class="list-group-item list-group-item action">
                <b>Total posts:</b> {{total_posts}}
            </li>
            <li class="list-group-item list-group-item action">
                <b>Total views quantity:</b> {{total_views}}
            </li>
            <li class="list-group-item list-group-item action">
                <b>Total comments quantity:</b> {{total_comments}}
            </li>
            <li class="list-group-item list-group-item action">
                <b>Total likes quantity:</b> 0
            </li>
            <li class="list-group-item list-group-item action">
                <b>Total dislikes quantity:</b> 0
            </li>
            <!-- <li class="list-group-item list-group-item action"></li> -->
        </ul>
    </div>
    <!-- display all posts by this auth -->
    <div class="row"> 
        <col-4></col-4>
    </div>
</div>
{% endblock%}