{% extends 'base.html' %}

{% block title %}
Registration
{% endblock %}

{% block extra_css %}
<style>
    html, body, .container {
        height: 100%
    }

</style>
{% endblock %}

{% block content %}
<div class="container d-flex align-items-center">
    <div class="row justify-content-center flex-grow-1">
        <div class="col-6">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}
                <p><label for="">Profile image</label>
                    <input type="file" class="form-control" id="user-profiles-image" name="profile_image">
                </p>

                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% if form.errors %}
    <div class="alert alert-danger mt-3">
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
    </div>
{% endif %}

{% endblock %}