<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container"> <!-- -fluid -->
    <a class="navbar-brand" href="{% url 'home-page'%}">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto me-2 me-lg-0" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'faq-page' %}">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about-page' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'news-page' %}">News</a>
        </li>
        <!-- </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>  
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <!-- 
ms- left indent - otstup vlevo
me- right indent - otstup vprava
mt- top indent - otstup vverh
mb- bottom indent - otstup vniz
-->

      {% if not request.user.is_authenticated %}
      <a href="{% url 'register-page' %}" class="btn btn-outline-warning ms-2">Registration</a>
      <a href="{% url 'login-page' %}" class="btn btn-outline-success ms-2">Login</a>
      {% else %}
      <div class="dropdown ms-2">
        <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        
          <i class="bi bi-person-circle"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'profile-page' %}">Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'create-page' %}">Create post</a></li>
          <li><a class="dropdown-item" href="{% url 'subscribers-page' %}">Subscribers</a></li>
        </ul>
      </div>
      <a href="{% url 'logout-page' %}" class="btn btn-outline-danger ms-2">Logout</a>
      {% endif %}
    </div>
  </div>
</nav>

<!-- 
sdelat' usloviya dilya knopok na detal'noy stranice stat'i:
create conditions for buttons o the article's detail page:

edit, delete - should be visible only to the author of the article / doljnı otobrazat'sya tol'ko avtoryu stat'i
like, dislikle - all authorized users except tge author of the article / vsem avtorizvann'm pol'zovatelyam krome avtora stat'i


-->